* {
    padding: 0;
    margin: 0;
}

.search-input, .category {
    margin-right: 10%;
    margin-left: 10%;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

.search-input input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.search-btn {
    width: 10%;
    border: none;
    border-radius: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    line-height: 1rem;
}

.nav-item .neccessary {
    width: 120px;
}

@media only screen and (min-width: 576px) {
    
  }

@media only screen and (min-width: 992px) {
    
  }

@media only screen and (max-width: 763px) {
    #navbarSupportedContent {
        flex-direction: column-reverse;
        align-items: self-start;
        padding-left: 50px;
    }

    nav ul {
        display: -webkit-inline-box!important;
        margin-left: 50px;
    }
    
}

